
h1, p{
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}

h1{
    font-size: 50px;
}

p{
    font-size: 15px;
    margin: 0 25%;
}

.container{
    width: 65%;
    margin: 0 auto;
}

.wordRow{
    display: flex;
    flex: 1 1 auto;
    gap: 1em;
    justify-content:space-evenly;
    margin:  4em 3em;
}

.letterBox{
    display: flex;
    flex: 1;
    border: .05em solid black;
    font-family: monospace;
    font-family: Courier, monospace;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    max-width: 1.5em;
    height: 1.5em;
    background: wordleGreen;
}

button{
    display: block;
    margin: 3em auto;
    width: 10em;
    height: 4em;
}

